<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Shows</title>
</head>

<body>
  <h2>IMDB: Top 5 Episodes</h2>
  <table width="100%" , border="solid">
    <tr>
      <th>Title</th>
      <th>Episode</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td th:text="${first.title}"></td>
      <td th:text="${first.episode}"></td>
      <td th:text="${first.rating}"></td>
    </tr>
    <tr>
      <td th:text="${second.title}"></td>
      <td th:text="${second.episode}"></td>
      <td th:text="${second.rating}"></td>
    </tr>
    <tr>
      <td th:text="${third.title}"></td>
      <td th:text="${third.episode}"></td>
      <td th:text="${third.rating}"></td>
    </tr>
    <tr>
      <td th:text="${fourth.title}"></td>
      <td th:text="${fourth.episode}"></td>
      <td th:text="${fourth.rating}"></td>
    </tr>
    <tr>
      <td th:text="${fifth.title}"></td>
      <td th:text="${fifth.episode}"></td>
      <td th:text="${fifth.rating}"></td>
    </tr>
  </table>
</body>

</html>