<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
    <title>Sign Up</title>
</head>

<body>
    <div class="container">
        <h2>Javagram</h2>
        <form method="post" th:object="${user}" th:action="/submitItem">
            <input type="text" placeholder="First Name" th:field="*{firstName}">
            <input type="text" placeholder="Last Name" th:field="*{lastName}">
            <input type="text" placeholder="Username" th:field="*{userName}">
            <input type="text" placeholder="Email" th:if="${email}">
            <p style="font-weight: bold;">Date of Birth</p>
            <input type="date" th:field="*{dateOfBirth}">
            <br><br>
            <input type="submit" value="submit">
        </form>
    </div>

</body>

</html>